
<div>
  <div  *ngFor="let plan of planet?.results; let i = index">
    <div >
      <p>{{plan.name}}</p>
      <button class="description-button" routerLink="/planet-description/{{ (i + index ) - 1 }}">About</button>

<!--        <div >-->

<!--          <span  style="font-weight: bolder;">{{ video.publishedAt | date:'mediumDate' }}</span>-->
<!--        </div>-->
<!--        <div >-->
<!--          {{ video.description?.slice(0,50) }}...-->
<!--        </div>-->

<!--      <a [href]="video.videoUrl" target="_blank">-->
<!--        <button >-->
<!--          <i></i>-->
<!--          Watch-->
<!--        </button>-->
<!--      </a>-->
    </div>
  </div>
</div>
