<section>
  <div class="card" *ngFor="let plan of planet?.results">
    <div>
      <p>{{plan.name}}</p>
      <hr>
      <p>Rotation period: <span> {{plan.rotation_period}}</span> hours</p>
      <p>Orbital period: <span>{{plan.orbital_period}}</span> days</p>
      <p>Diameter: <span>{{plan.diameter}}</span> km</p>
      <p>Climate: <span>{{plan.climate}}</span></p>
      <p>Gravity: <span>{{plan.gravity}}</span></p>
      <p>Terrain: <span>{{plan.terrain}}</span></p>
      <p>Surface water: <span>{{plan.surface_water}}</span></p>
      <p>Population: <span>{{plan.population}}</span> people</p>
    </div>
  </div>
</section>

