@import "./src/styles/core";


.search {
  margin: 10px;
  max-width: 370px;

  .input {
    width: 100%;
    padding: 4px 7px;
    font-size: 16px;
    border-radius: 7px;
  }

  .input:hover {
    border-radius: 3px solid $colorSecondary;
    cursor: pointer;
  }
}

