@import "./src/styles/core";

.header {
  background-color: transparent;

  .title-header {
    font-family: $shoulders-fonts;
    padding: 50px;
    font-size: 28px;
    line-height: 30px;
  }
}


.container {
  .title {
    margin: 12px;
  }

  .items-list {
    margin: 5px;

    .item {
      max-width: 350px;
      background-color: $colorPrimary;
      padding: 5px 10px;
      margin: 5px;
      border-radius: 7px;
      border: 1px solid $colorPrimary;
      display: flex;
      justify-content: space-between;
    }

    .description-button {
      font-family: $main-fonts;
      border-radius: 5px;
      padding: 3px;
      cursor: pointer;
    }

    .description-button:hover {
      color: $colorSecondary;
    }

    .item:hover {
      border: 1px solid $colorWhite;
      background-color: $colorSecondary;
    }
  }

}

.pagination {
  margin: 40px 10px 0 10px;

  ul {
    padding: 8px 0;
    max-width: 380px;
    border-radius: 7px;
    background-color: $colorPrimary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      border: 2px solid $colorPrimary;
      border-radius: 7px;
      padding: 3px;
    }

    li:hover {
      border: 2px solid $colorWhite;
    }
  }
  .active {
    color: $colorBlack;

  }
}





