// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Quicksand&family=Teko:wght@300&display=swap');

$shoulders-fonts: 'Big Shoulders Stencil Text', cursive;
$main-fonts: 'Quicksand', sans-serif;
$description-fonts: 'Teko', sans-serif;
