@import "./src/styles/core";


* {
  margin: 0;
  padding: 0;
}

html {
  background-repeat: no-repeat;
  background-image: url(https://static.scientificamerican.com/sciam/cache/file/0747F4F8-E859-40FF-8E9817304493B7B3_source.png);
  padding-bottom: 70px;
}

ul li {
  list-style-type: none;

  a {
    text-decoration: none;
    color: $colorWhite;
  }
}

body {
  box-sizing: border-box;
  font-family: $main-fonts;
  font-size: 18px;
  color: $colorWhite;


  .container {
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;

    .card {
      max-width: 350px;
      border: 2px solid $colorWhite;
      padding: 2px;
      border-radius: 7px;
      background-color: $colorBlack;

      p {
        font-size: 22px;
        line-height: 24px;
        margin: 5px;

        span {
          margin-left: 20px;
          color: $colorPrimary;
        }
      }

      .button {
        font-size: 18px;
        padding: 2px 10px;
        background-color: $colorPrimary;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
        color: $colorWhite;
      }

      .button:hover {
        border-color: $colorSecondary;
      }

    }
  }
}


// animation
.animation {
  animation: neon 4s steps(1, start) infinite reverse;
}

@keyframes neon {
  0% {
    color: $colorPrimary;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  80% {
    color: $colorWhite;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
  }
  81% {
    color: $colorWhite;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
  }
  82% {
    color: $colorPrimary;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  83% {
    color: $colorWhite;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
  }
  84% {
    color: $colorPrimary;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  85% {
    color: $colorWhite;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
  }
  100% {
    color: $colorPrimary;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
}


